[Desktop Entry]
Name=GLogiK Configuration Utility
Comment=GLogiK Desktop Service Configuration Utility
TryExec=GKcQt
Exec=GKcQt
Icon=GLogiK
Type=Application
Terminal=false
Categories=Settings;
